h1{
            text-align: center;
}

ol.d {
            list-style-type: lower-alpha;
          }

          ol{
                      text-align: center;
          }
          
          li{
                      text-align: center;
          }